# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/

# PyInstaller
*.spec

# Virtual environments
.venv/
env/
venv/

# VS Code / PyCharm
.vscode/
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db